/* Global Styles */
body {
    margin: 0;
    font-family: "Karla", sans-serif;
    color: #ffffff;
}

h3 {
    font-family: "Inter", sans-serif;
}

img {
    width: 100%;
}

/* Typography */

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: auto;
}

h3 {
    font-size: 0.75rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

input, button {
    font-size: 0.9rem;
}

/* Layout */

header {
    background: linear-gradient(to right, #672280, #A626D3);
    margin-bottom: 2rem;
}

nav {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
}

.troll-face {
    width: 8%;
    max-width: 100%;
    margin-right: 0.5rem;
}

@media (min-width: 720px) {
    .troll-face {
        width: 4%;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
}

input, button {
    width: 100%;
    padding: 0.8rem 0rem;
    border-radius: 5px;outline: none;
    margin-bottom: 1.8rem;
}

input {
    width: 100%;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 0.75rem;
}

@media (min-width: 720px) {
    form {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}

button {
    background: linear-gradient(to right, #672280, #A626D3);
    color: #ffffff;
    border: none;
    display: block;
}

.container-image {
    width: 100%;
    position: relative;
}

h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top-text {
    top: 3%;
}

.bottom-text {
    bottom: 3%;
}