body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  width: 100%;
  background-color: #1A1B21;
  color: #ffffff;
}
.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Typography */
h1 {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0.3em;
}
h2 {
  font-size: 0.9rem;
  margin: 0;
  color: #86be9f;
}
p {
  font-size: 0.8rem;
  color: #F5F5F5;
}
a {
  text-decoration: none;
  color: #F5F5F5;
}
.info-btns {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.info-btns > a {
  font-size: 0.95rem;
  background: #ffffff;
  color: #374151;
  padding: 0.7em 3em;
  display: flex;
  justify-content: center;
  gap: 13px;
  border-radius: 5px;
}
a.less {
  padding: 0.7em 2em;
  background-color: #86be9f;
}
.small {
  width: 17px;
}

/* Layout */
.info {
  text-align: center;
}
.my-photo {
  margin-bottom: 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}